
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>

    <img src="{{post.image.url}}">
    {{post.name}}
    {{post.description}}
    {{post.price}}
    {{post.number}}
    {{post.categories}}
    {{post.condition}}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_update' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">update</span></a>

        <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">delete</span></a>

    {% endif %}



</body>
</html>