
{% extends 'index.html' %}

{% block content %}
<section>

    <header class="major">
			<h2>{{post.name}}</h2>
    </header>


        <article class="style{{posts.id}}">
            <img src="{{post.image.url}}" alt="" class="image" width="340" height="340">
            <h3>{{post.price}} сом</h3>
            <p>{{post.description}}</p>
            {%for cate in post.categories.all%}
			<p>{{cate}}</p>
			{%endfor%}
            <p>{{post.created_date}}</p>
            <ul class="actions">
                {% if user.is_authenticated %}
                    <li><a class="button" href="{% url 'post_update' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Редактировать</span></a></li>

                    <li><a class="button" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-pencil">Удалить</span></a></li>
                {% endif %}
            </ul>
        </article>



</section>

{% endblock %}


