{% extends 'index.html' %}

{% block content %}
								<section>





										<h1>О компании</h1>



									<p>Li-Ning — это китайская компания по производству спортивной обуви, одежды, снаряжения и аксессуаров.</p>
									<p>Она была основана в 1990 году чемпионом по гимнастике Ли Нином с целью создания национальной формы, в которой атлеты смогли бы представлять Китай и ее культуру на Олимпийских играх.</p>
									<p>Спустя 30 лет это намерение привело к появлению известной во всем мире марки, находящейся на передовой дизайна и технологий двадцать первого века.</p>
									<p>На сегодняшний день Li-Ning является первым и пока единственным китайским брендом спортивной одежды, принявшим участие на Неделе моды. Кроме того, компания успела зарекомендовать себя как достойный конкурент таким гигантам индустрии, как adidas и Nike.</p>
									<hr class="major" />

									<h2>Ли Нин — создатель одноименного бренда</h2>
									<p>Основатель и генеральный директор своего одноименного бизнеса Ли Нин родился в 1963 году на юге Китая. Впервые с гимнастикой он познакомился в возрасте восьми лет, а в 1980 году уже присоединился к сборной команде. Через несколько лет упорство привело его к успешному выступлению на Олимпийских играх 1984 — первых, в которых участвовала КНР. На этих соревнованиях Ли завоевал шесть медалей, три из которых были золотыми, после чего у себя на родине он получил титул «Принца гимнастики». Однако после травмы лодыжки, которая стала причиной плохого выступления на играх 1988 года, Ли ушел с соревнований и начал новую главу в своей биографии, основав собственный бренд. </p>
									<hr class="major" />

									<h2>История бренда </h2>
									<p>Когда в 1990 году Ли Нин запустил свою компанию спортивной одежды, он был 26-летним спортсменом, находящимся на перепутье. В то время это означало как конец его карьеры в качестве гимнаста, так и начало нового этапа, который в последствии станет столь же плодотворным, как и его подвиги в области спорта. </p>
									<p>Сегодня для атлетов запуск собственной линии одежды или сотрудничество с компаниями спортивной одежды стали обычным делом, но три десятилетия назад это было совершенно новой концепцией, особенно в Китае. «У меня не было никакого конкретного плана, все шло своим чередом», — говорил Ли о своих первых днях в качестве предпринимателя издательству South China Morning Post (SCMP). — «После Олимпиады 1988 года я понимал, что моя карьера заканчивается на неприятной ноте, поэтому я начал думать о следующем шаге. В то время генеральный директор известной компании безалкогольных напитков [Jianlibao] спросил меня, не хочу ли я присоединиться к ним в качестве амбассадора, так я и пришел в мир бизнеса». </p>

								</section>

{% endblock %}